<div class="contact-view landing-view">
<div class="row top-banner bg-op">
	<h1>Contact Us</h1>
		<div class="black-overlay"></div>
		<div class="arrow-down">
			<span class="fa-stack fa-lg fa-3x">
			  <i class="fa fa-angle-down fa-stack-1x"></i>
			  <i class="fa fa-circle-o fa-stack-2x"></i>
			</span>
		</div>
	</div>	

	<div id="Contact_content" class="contact-view-body">

		
			<div class="col-md-6">
			<div class="contact-box">
			<ul>
				<li><strong>Contact Details</strong></li>
				<li><span class="fa fa-phone"></span>  +234 803-573-1457 [John Tseayo]<li>
				<li><span class="fa fa-phone"></span>  +234 802-222-6968 [Uzoma Erondu]<li>
				<li><span class="fa fa-envelope"></span> <a href="fly@nestav.com.ng">fly@nestav.com.ng</a></li>
			</ul>	
			</div> <!-- Contact-box ends here  -->
			</div>
				<div class="col-md-6">

				<div class="form-holder">
					<form role="form" class="contact-form">
						<div class="contact-wait"><i class="fa fa-spin fa-spinner"></i></div>
						<div class="form-group">
					      <input name="name" type="text" class="form-control SideFloat" id="name" placeholder="YOUR NAME">
					    </div>
					    <div class="form-group">
					      <input name="email" type="email" class="form-control SideFloatR" id="email" placeholder="EMAIL ADDRESS">
					    </div>
					    <div class="form-group">
					      <select name="subject" class="form-control SideFloatR" id="subject" placeholder="SUBHECT">
					      	<option>General Enquiry</option>
					      	<option>Complaint</option>
					      	<option>Technical Support</option>
					      </select>
					    </div>
					    <div class="form-group">
					      <textarea name="message" class="form-control" id="message" placeholder="HOW CAN WE HELP YOU?"></textarea>
					    </div>
					    <div class="contact-error"></div>
					    <button type="submit" class="btn Btn_send contact-send">Send Message</button>
						
					</form>

				</div> <!-- form-holder ends here  -->
				</div>
			</div> <!-- Contact_content ends here  -->
<div class="row">
		<div class="footer-view">
		<h2>Site Links</h2>
			<ul class="row nest-footer-menu"> 
			
				<div class="col-md-3 col-xs-6">
					<li class="home-menu active"><a href="#">Home</a></li>
					<li class="about-menu"><a href="#about-us">About Us</a></li>
					<li class="how-menu"><a href="#how-it-works">How it Works</a></li>
					
				</div>
				<div class="col-md-3 col-xs-6">
					<li class="op-menu"><a href="#operations">Operations</a></li>
					<li class="serv-menu"><a href="#services">Services</a></li>
					<li class="contact-menu"><a href="#contact-us">Contact Us</a></li>
				</div>
				
				
			</ul>
			<a href="#"><img class="nest-logo" src="http://demos.shixels.com/nest_av/img/logo-inv.png"></a>
		</div>
	</div>
		 

</div>