<div class="landing-view">
<div class="row top-banner bg-op">
<h1>How it works</h1>
	<div class="black-overlay"></div>
		<div class="arrow-down">
			<span class="fa-stack fa-lg fa-3x">
			  <i class="fa fa-angle-down fa-stack-1x"></i>
			  <i class="fa fa-circle-o fa-stack-2x"></i>
			</span>
		</div>
	</div>	
	<div class="row pad-bottom">
		<div class="container  line-container">
			<h1></h1>
			<div class="row about-us">
				<p>1.	Fill our contact form
2.	Request a Quote
3.	Expect a Quote
4.	Confirm your itinerary
5.	Arrive for your flight</p>
			</div>
			
		</div>
		</div>

<div class="row">
		<div class="footer-view">
		<h2>Site Links</h2>
			<ul class="row nest-footer-menu"> 
			
				<div class="col-md-3 col-xs-6">
					<li class="home-menu active"><a href="#">Home</a></li>
					<li class="about-menu"><a href="#about-us">About Us</a></li>
					<li class="how-menu"><a href="#how-it-works">How it Works</a></li>
					
				</div>
				<div class="col-md-3 col-xs-6">
					<li class="op-menu"><a href="#operations">Operations</a></li>
					<li class="serv-menu"><a href="#services">Services</a></li>
					<li class="contact-menu"><a href="#contact-us">Contact Us</a></li>
				</div>
				
				
			</ul>
			<a href="#"><img class="nest-logo" src="../img/logo-inv.png"></a>
		</div>
	</div>
</div>