<div class="landing-view">

	<div class="row top-banner g450">
	<h1>Safety. Comfort. Style.</h1>
	<div class="black-overlay"></div>
		<div class="arrow-down">
			<span class="fa-stack fa-lg fa-3x">
			  <i class="fa fa-angle-down fa-stack-1x"></i>
			  <i class="fa fa-circle-o fa-stack-2x"></i>
			</span>
		</div>
	</div>	

	<div class="row pad-bottom">
		<div class="container  line-container">
			<h1></h1>
			<div class="row about-us">
				<p>Our commitment and firm promise to all existing and prospective clients is to provide the highest possible service in air travels, which is unmatched and unrivalled in the entire African sub-region. We provide the discretion that is required in private air travels.</p>
				<p>We have a professional and highly trained team of pilots, mechanics, technicians and ground staff who are on hand to ensure safe and stress-free travels of our passengers in comfort and in style. We take on the stress, you travel in comfort.</p>
			</div>
			
		</div>
	</div>
	<div class="row advantage-holder pad-bottom">
		<div class="container  line-container">
			<span class="line"><img src="http://demos.shixels.com/nest_av/img/line.jpg"></span>
			<h1>Our Advantages</h1>
			<span class="line"><img src="http://demos.shixels.com/nest_av/img/line.jpg"></span>
			<div class="row ad-icons-holder">
				<div class="col-md-4">
					<span class="fa-stack fa-lg fa-4x">
					  <i class="fa fa-thumbs-up fa-stack-1x"></i>
					  <i class="fa fa-circle-o fa-stack-2x"></i>
					</span>
					<h1>service driven</h1>
				</div>
			<div class="col-md-4">
				<span class="fa-stack fa-lg fa-4x">
					  <i class="fa fa-check fa-stack-1x"></i>
					  <i class="fa fa-circle-o fa-stack-2x"></i>
					</span>
					<h1>An NCAA licensed operator</h1>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-lg fa-4x">
					  <i class="fa fa-plane fa-stack-1x"></i>
					  <i class="fa fa-circle-o fa-stack-2x"></i>
					</span>
					<h1>Fly Anytime Any Plane</h1>
			</div>
			</div>
			
		</div>
	</div>

	<div class="row pad-bottom">
		<div class="container  line-container">
			<span class="line"><img src="http://demos.shixels.com/nest_av/img/line.jpg"></span>
			<h1>Our Value Proposition</h1>
			<span class="line"><img src="http://demos.shixels.com/nest_av/img/line.jpg"></span>
			<div class="row about-us">
				<div class="col-md-12 chunk">
						<div class="bullets">
							<ul>
								<li>An Affiliate of Nestoil Limited</li>
								•	Operational Base: 59-hectare Industrial Area in Abuloma, Port Harcourt, Nigeria
								•	Bureau Veritas ISO 9001:2008 certified (UKAS and ANAB) in Engineering, Procurement, Pipeline Construction and Associated Facility, Dredging, River Crossing and Shoreline Protection 
								•	Workforce: A diverse workforce of over 1,500 employees
								<li>An NCAA licensed operator</li>
								•	We possess the compulsory Air Operator Certificate (AOC) and Airline Operator Permit (AOP) required for legal aircraft charter operations
								•	We fulfil all air-worthiness standards as required by Aviation regulatory authorities in Nigeria

								<li>Highly trained personnel</li>
								•	Skilled and experienced flight and maintenance crew
								•	Periodic trainings for all staff to keep abreast of trends in the industry

								<li>Safety & Environment Conscious</li>

								<li>A client-focused company</li>

								<li>Governed by Best Practices</li>

								<li>Service-driven</li>

								<li>Wholly Indigenous</li>
								•	NestAv proudly offers an entirely indigenous managerial team; however, with collaborations from our international affiliates, we imbibe international practices and standards in our operations, thereby ensuring a global appeal to our business operations.


							</ul>
							
						</div>
				</div>
			</div>
			
		</div>
	</div>

	<div class="row services-holder pad-bottom">
		<div class="container  line-container">
			<span class="line"><img src="http://demos.shixels.com/nest_av/img/line.jpg"></span>
			<h1>Our Services</h1>
			<span class="line"><img src="http://demos.shixels.com/nest_av/img/line.jpg"></span>
			<div class="row services-chunks-holder">
				<div class="col-md-6 chunk">
						<div class="img bg-img g450"></div>
						<div class="title"><h1>executive jet charter</h1></div>
						<div class="bullets">
							<p>We provide charter services to clients on our Gulfstream G200 and GIV-SP in an exceptional combination of safety, comfort and style. Other aircraft can also be provided at clients’ specific request.</p>
						</div>
						<div class="more-info" data-hash="#services/executive-jet-charter">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square fa-stack-2x fa-rotate-45"></i>
  									<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
								</span>
								<h1>More Info</h1>
							</div>
				</div>
				<div class="col-md-6 chunk">
					<div class="img bg-img helicopter"></div>
					<div class="title"><h1>helicopter charter</h1></div>
					<div class="bullets">
							<p>We offer safe and comfortable charter services on our helicopters, with experienced and professional pilots to get you to any destination within Nigeria. </p>
							
						</div>
						<div class="more-info" data-hash="#services/helicopter-charter">
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square fa-stack-2x fa-rotate-45"></i>
  									<i class="fa fa-plus fa-stack-1x fa-inverse"></i>
								</span>
								<h1>More Info</h1>
							</div>
				</div>
				<a class="btn btn-gold request-quote" href="#services">View All</a>
			</div>
			
		</div>
	</div>

	
	<div class="row">
		<div class="footer-view">
		<h2>Site Links</h2>
			<ul class="row nest-footer-menu"> 
			
				<div class="col-md-3 col-xs-6">
					<li class="home-menu active"><a href="#">Home</a></li>
					<li class="about-menu"><a href="#about-us">About Us</a></li>
					<li class="how-menu"><a href="#how-it-works">How it Works</a></li>
					
				</div>
				<div class="col-md-3 col-xs-6">
					<li class="op-menu"><a href="#operations">Operations</a></li>
					<li class="serv-menu"><a href="#services">Services</a></li>
					<li class="contact-menu"><a href="#contact-us">Contact Us</a></li>
				</div>
				
				
			</ul>
			<a href="#"><img class="nest-logo" src="http://demos.shixels.com/nest_av/img/logo-inv.png"></a>
		</div>
	</div>
</div>	
