<div id="navNotLoggedIn-view">
	<ul class="row enel-top-menu"> 
	<a class="nestlogoholder col-md-1" href="#"><img class="nest-logo" src="http://demos.shixels.com/nest_av/img/logo.png"></a>
	<div class="mobile-menu"><i class="fa fa-bars"></i></div>
	<div class="mobile-menu-hide"><i class="fa fa-bars"></i></div>
	<div class="desk-menu">
		<li class="home-menu active"><a href="#">Home</a></li>
		<li class="how-menu"><a href="#how-it-works">How it Works</a></li>
		<li class="op-menu"><a href="#operations">Operations</a></li>
		<li class="serv-menu"><a href="#services">Services</a></li>
		<li class="contact-menu"><a href="#contact-us">Contact Us</a></li>
		<li class="quote-menu"><a class="btn btn-gold" href="#quote">Request a Quote</a></li>
		</div>
	</ul>
</div>
