<div class="landing-view">
	<div class="row top-banner bg-op">
	<h1>Our Operations</h1>
		<div class="black-overlay"></div>
		<div class="arrow-down">
			<span class="fa-stack fa-lg fa-3x">
			  <i class="fa fa-angle-down fa-stack-1x"></i>
			  <i class="fa fa-circle-o fa-stack-2x"></i>
			</span>
		</div>
	</div>	

	<div class="row pad-bottom">
		<div class="container  line-container">
			<h1></h1>
			<div class="row about-us">
				<div class="col-md-6">
					<img src="http://demos.shixels.com/nest_av/img/Group4.JPG">
					<div class="row">
					  <div class="col-xs-6 col-md-3">
					    <a href="#" class="thumbnail">
					     	<img src="http://demos.shixels.com/nest_av/img/Group1.JPG">
					    </a>
					  </div>
					  <div class="col-xs-6 col-md-3">
					    <a href="#" class="thumbnail">
					     	<img src="http://demos.shixels.com/nest_av/img/Group2.JPG">
					    </a>
					  </div>
					  <div class="col-xs-6 col-md-3">
					    <a href="#" class="thumbnail">
					     	<img src="http://demos.shixels.com/nest_av/img/Group3.JPG">
					    </a>
					  </div>
					  <div class="col-xs-6 col-md-3">
					    <a href="#" class="thumbnail">
					     	<img src="http://demos.shixels.com/nest_av/img/Group4.JPG">
					    </a>
					  </div>
					  ...
					</div>
				</div>
				<div class="col-md-6 chunk">
						<div class="bullets">
							<ul>
								<li>5 operational helipads
								<li>Warri</li>
								<li>Okija</li>
								<li>Uyo</li>
								<li>Port Harcourt</li>
								<li>Lagos</li>
								<li>1 FBO in Lagos</li>
								<li>1 FBO in Port Harcourt</li>
								<li>Ground Handling and Cleaning Services</li>

							</ul>
							
						</div>
				</div>
			</div>
			
		</div>
	</div>

	<div class="row">
		<div class="footer-view">
		<h2>Site Links</h2>
			<ul class="row nest-footer-menu"> 
			
				<div class="col-md-3 col-xs-6">
					<li class="home-menu active"><a href="#">Home</a></li>
					<li class="about-menu"><a href="#about-us">About Us</a></li>
					<li class="how-menu"><a href="#how-it-works">How it Works</a></li>
					<li class="op-menu"><a href="#operations">Operations</a></li>
					<li class="serv-menu"><a href="#services">Services</a></li>
					<li class="contact-menu"><a href="#contact-us">Contact Us</a></li>
					
				</div>
				<div class="col-md-9 col-xs-6 col-sm-4">
					<ul class="bottom-footer Pull-up">
						<h1>Our Partners</h1>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-1.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-2.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-3.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-4.jpg"></li>
						<!-- <li><img src="http://demos.shixels.com/nest_av/img/logo-5.jpg"></li> -->
						<li><img src="http://demos.shixels.com/nest_av/img/logo-6.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-7.jpg"></li>
						<!-- <li><img src="http://demos.shixels.com/nest_av/img/logo-8.jpg"></li> -->
					</ul>
				</div>
				
				
			</ul>
			<!-- <a href="#"><img class="nest-logo" src="http://demos.shixels.com/nest_av/img/logo-inv.png"></a> -->
		</div> <!-- footer-view ends here -->
		
	</div>
</div>	