<div class="landing-view">
	<div class="row top-banner bg-op">
	<h1>Get a Quote</h1>
	<div class="black-overlay"></div>
		<div class="arrow-down">
			<span class="fa-stack fa-lg fa-3x ">
			  <i class="fa fa-angle-down fa-stack-1x"></i>
			  <i class="fa fa-circle-o fa-stack-2x"></i>
			</span>
		</div>
	</div>	

	<div class="row choose-holder pad-bottom">
		<div class="container  line-container">
			<span class="line"><img src="http://demos.shixels.com/nest_av/img/line.jpg"></span>
			<h1>Let's get started</h1>
			<span class="line"><img src="http://demos.shixels.com/nest_av/img/line.jpg"></span>
			<div class="row choose-pic-holder">
				<div class="col-md-6">
					<img src="http://demos.shixels.com/nest_av/img/N990EA - Exterior 4.jpg">
				</div>
			<div class="col-md-6">
			<p>
 <label for="Name">Name:</label>
  <input type="text" id="Name"  >
   <label for="Email">Email:</label>
  <input type="text" id="Email"  >
   <label for="Phone">Phone:</label>
  <input type="text" id="Phone"  >
  <label for="Routing">Multiple Destinations? Leave comment here:</label>
  <textarea class="route-field" type="text" cols="50" id="Routing"></textarea>
  <label class="amountlabel" for="amount">Number of persons:</label>
<div id="slider-range-max"></div>
<input type="text" id="amount" readonly >
			</div>
			</div>
			
		</div>
	</div>

	<div class="row request-quote pad-bottom">
		<div class="quote-message">Thank You! Your request has been successfully submitted.<br/> <span class="Pull-up-2">We'll get back to you shortly!</span></div>
		<div class="quote-wait"><i class="fa fa-spin fa-spinner"></i></div>
		<div class="container  line-container">
			<div class="row video-holder">
				<div class="col-md-5 col-xs-12">
					<h1>Origin:</h1>
					<select class="from_dest">
						<option value="Lagos, Nigeria">Lagos, Nigeria</option>
						<option value="Port Harcourt, Nigeria">Port Harcourt, Nigeria</option>
					</select>
				</div>
				<div class="col-md-2 col-xs-12">

					<span><div class="switch">
					  <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat toggle_trip" type="checkbox" checked="true">
					  <label for="cmn-toggle-4"></label>
					</div></span>
									</div>
				<div class="col-md-5 col-xs-12">
					<h1>Destination:</h1>
					<input type="text" class="to_dest ui-autocomplete-input" id="autocomplete" placeholder="Arival City" autocomplete="off">
				</div>
			</div>
			<div class="container calendar-holder">
				<div class="row">
					<div class="col-md-6">
						
 						<div class="landing-cal from_cal"></div>
					</div>
					<div class="col-md-6">
						
 						<div class="landing-cal to_cal"></div>
					</div>
				</div>
			</div>
			<a class="btn btn-gold request-quote-button" href="#">Request Quote</a>
		</div>
	</div>



	<div class="row">
		<div class="footer-view">
		<h2>Site Links</h2>
			<ul class="row nest-footer-menu"> 
			
				<div class="col-md-1 col-xs-6">
					<li class="home-menu active"><a href="#">Home</a></li>
					<li class="about-menu"><a href="#about-us">About Us</a></li>
					<li class="how-menu"><a href="#how-it-works">How it Works</a></li>
					<li class="op-menu"><a href="#operations">Operations</a></li>
					<li class="serv-menu"><a href="#services">Services</a></li>
					<li class="contact-menu"><a href="#contact-us">Contact Us</a></li>
					
				</div>
				<div class="col-md-11 col-xs-6 col-sm-4">
					<ul class="bottom-footer Pull-up">
						<h1>Our Partners</h1>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-1.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-2.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-3.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-4.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/eagle.png"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-6.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-7.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-8.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-10.png"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-11.jpg"></li>
					</ul>
				</div>
				
				
			</ul>
			<!-- <a href="#"><img class="nest-logo" src="http://demos.shixels.com/nest_av/img/logo-inv.png"></a> -->
		</div> <!-- footer-view ends here -->
		
	</div>
</div>	