 <div class="landing-view">
	<div class="row top-banner {{subproduct.banner}}">
		<h1>{{subproduct.name}}</h1>
		<h4>{{subproduct.subheading}}</h4>
		<div class="black-overlay"></div>
		<div class="arrow-down">
			<span class="fa-stack fa-lg fa-3x">
			  <i class="fa fa-angle-down fa-stack-1x"></i>
			  <i class="fa fa-circle-o fa-stack-2x"></i>
			</span>
		</div>
	</div>	
	<ol class="breadcrumb">
  <li><a href="#services">Services</a></li>
  <li><a href="#services/{{subproduct.parent}}">{{subproduct.parent_name}}</a></li>
  <li class="active">{{subproduct.name}}</li>
</ol>
	<div class="row services-holder pad-bottom">
		<div class="container  line-container">
			<div class="center-justified">{{{subproduct.des}}}</div>
			<span class="line"><img src="http://demos.shixels.com/nest_av/img/line.jpg"></span>
			<h1>{{subproduct.title}}</h1>
			<span class="line"><img src="http://demos.shixels.com/nest_av/img/line.jpg"></span>
			<div class="row services-chunks-holder">
			{{#each subproduct.features}}
				<div class="col-md-{{cols}} col-xs-{{xscols}} chunk  feature feature-{{align}}">
					<i class="feature-icon fa fa-{{icon}}"></i>
					<span>{{title}}</span>
					<div class="feature-value">{{value}}</div>
					<ul class="subfeatures">
						{{#each subfeatures}}
							<li class="subfeature"><i class="fa fa-{{icon}}"></i><div class="sub-value">{{value}}</div></li>
						{{/each}}
					</ul>
				</div>
			{{/each}}
			</div>
			
		</div>

		<div class="container  line-container">
			<span class="line"><img src="http://demos.shixels.com/nest_av/img/line.jpg"></span>
			<h1>{{subproduct.gallery.title}}</h1>
			<span class="line"><img src="http://demos.shixels.com/nest_av/img/line.jpg"></span>
			<div class="row services-chunks-holder">
			<ul class="gallery">
				{{#each subproduct.gallery.images}}
					<li class="subfeature"><img src="{{path}}"></li>
				{{/each}}
			</ul>
			</div>
			</div>
			
		</div>

<div class="row">
		<div class="footer-view">
		<h2>Site Links</h2>
			<ul class="row nest-footer-menu"> 
			
				<div class="col-md-1 col-xs-6">
					<li class="home-menu active"><a href="#">Home</a></li>
					<li class="about-menu"><a href="#about-us">About Us</a></li>
					<li class="how-menu"><a href="#how-it-works">How it Works</a></li>
					<li class="op-menu"><a href="#operations">Operations</a></li>
					<li class="serv-menu"><a href="#services">Services</a></li>
					<li class="contact-menu"><a href="#contact-us">Contact Us</a></li>
					
				</div>
				<div class="col-md-11 col-xs-6 col-sm-4">
					<ul class="bottom-footer Pull-up">
						<h1>Our Partners</h1>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-1.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-2.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-3.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-4.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/eagle.png"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-6.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-7.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-8.jpg"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-10.png"></li>
						<li><img src="http://demos.shixels.com/nest_av/img/logo-11.jpg"></li>
					</ul>
				</div>
				
				
			</ul>
			<!-- <a href="#"><img class="nest-logo" src="http://demos.shixels.com/nest_av/img/logo-inv.png"></a> -->
		</div> <!-- footer-view ends here -->
		
	</div>
	<!-- Modal -->
<div class="modal fade imageModal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	</div>

