#main-footer-container {
  margin: 0;
}
.footer-view {
	background: $title_grey;
	height: auto;
	border-bottom: 10px solid $gold;
	border-top: 5px solid $gold;
}

ul.row.nest-footer-menu {
    padding: 0 15%;
    padding-bottom: 0;
}
ul.row.nest-footer-menu a {
    color: $gold;
}
.footer-view .nest-logo {
    top: inherit !important;
    position: absolute;
    right: 50px !important;
    bottom: 115px;
    left: inherit;
}
.footer-view h2 {
    margin: 0;
    color: $white;
    padding: 30px 15%;
    font-size: 20px;
    font-family: $primary_font_xbold;
}
ul.bottom-footer {
    
    text-align: center;
     li {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    height: 50px;
    margin: 0 40px;
    line-height: 55px;
    cursor: pointer;
-webkit-filter: grayscale(100%); 
     filter: grayscale(100%);
    &:hover {
     -webkit-filter: none; 
     filter: none;
    }
}
img {
    width: 100%;
}

}
ul.bottom-footer h1 {
    margin: 0;
    color: $white;
    padding: 30px 15%;
    font-size: 20px;
    font-family: $primary_font_xbold;
}