
@media only screen and (min-width: 769px) and (max-width: 524px) {
	/* landscape tablet */
     .row.top-banner h1 {
        font-size: 2em;
    }
    .row.top-banner h4 {
        font-size: 1em;
    }
    ul.subfeatures {
        height: 100%;
    }
    .row.choose-pic-holder p {
    padding: 0 10%;
}
div#slider-range-max {
    margin: 0 10%;
}
    .desk-menu {
        width: 80%;
        position: absolute;
        background: $title_grey;
        top: 90px;
        min-height: 700px;
    }
    .container.line-container .center-justified {
        width: 90% !important;
    }
    .desk-menu li {
        width: 100%;
        height: 70px;
        line-height: 70px !important;
    }
    .line {
        display: none !important;
    }

    .mobile-menu {
        display: block;
    }
        img.nest-logo {
        width: 120px;
        float: left;
        position: relative;
        left: 25px;
        top: 30px;
    }
    .row.services-holder.pad-bottom {
        padding: 5%;
    }
    .switch {
        left: 32%;
        position: relative;
    }
    .row.top-banner {
        height: 400px !important;
    }
    .row.about-us {
        padding: 0 10%;
    }
    .bullets ul {
        width: 80%;
    }



}



@media only screen and (max-width: 768px) {
    /* portrait tablet */
   

  .row.top-banner h1 {
        font-size: 2em;
    }
    .row.top-banner h4 {
        font-size: 1em;
    }
    ul.subfeatures {
        height: 100%;
    }
    .row.choose-pic-holder p {
    padding: 0 10%;
}
div#slider-range-max {
    margin: 0 10%;
}
    .desk-menu {
        width: 80%;
        position: absolute;
        background: $title_grey;
        top: 90px;
        min-height: 700px;
    }
    .container.line-container .center-justified {
        width: 90% !important;
    }
    .desk-menu li {
        width: 100%;
        height: 70px;
        line-height: 70px !important;
    }
    .line {
        display: none !important;
    }

    .mobile-menu {
        display: block;
    }
        img.nest-logo {
        width: 120px;
        float: left;
        position: relative;
        left: 25px;
        top: 30px;
    }
    a.nestlogoholder {
    width: 200px;
}
    .row.services-holder.pad-bottom {
        padding: 5%;
    }
    .switch {
        left: 32%;
        position: relative;
    }
    .row.top-banner {
        height: 400px !important;
    }
    .row.about-us {
        padding: 0 10%;
    }
    .bullets ul {
        width: 80%;
    }
}

@media only screen and (max-width:667px) and (min-width: 667px) {
    .row.top-banner h1 {
        font-size: 2em;
    }
    .row.top-banner h4 {
        font-size: 1em;
    }
    .row.choose-pic-holder p {
    padding: 0 10%;
}
div#slider-range-max {
    margin: 0 10%;
}
    ul.subfeatures {
        height: 100%;
    }
    .desk-menu {
        width: 80%;
        position: absolute;
        background: $title_grey;
        top: 90px;
        min-height: 700px;
    }
    .container.line-container .center-justified {
        width: 90% !important;
    }
    .desk-menu li {
        width: 100%;
        height: 70px;
        line-height: 70px !important;
    }
    .line {
        display: none !important;
    }

    .mobile-menu {
        display: block;
    }
        img.nest-logo {
        width: 120px;
        float: left;
        position: relative;
        left: 25px;
        top: 30px;
    }
    a.nestlogoholder {
    width: 200px;
}
    .row.services-holder.pad-bottom {
        padding: 5%;
    }
    .switch {
        left: 32%;
        position: relative;
    }
    .row.top-banner {
        height: 400px !important;
    }
    .row.about-us {
        padding: 0 10%;
    }
    .bullets ul {
        width: 80%;
    }
}


@media only screen and (max-width: 767px) {
    .row.top-banner h1 {
        font-size: 2em;
    }
    .row.top-banner h4 {
        font-size: 1em;
    }
    ul.subfeatures {
        height: 100%;
    }
    .row.choose-pic-holder p {
    padding: 0 10%;
}
div#slider-range-max {
    margin: 0 10%;
}
    .desk-menu {
        width: 80%;
        position: absolute;
        background: $title_grey;
        top: 90px;
        min-height: 700px;
    }
    .container.line-container .center-justified {
        width: 90% !important;
    }
    .desk-menu li {
        width: 100%;
        height: 70px;
        line-height: 70px !important;
    }
    .line {
        display: none !important;
    }

    .mobile-menu {
        display: block;
    }
        img.nest-logo {
        width: 120px;
        float: left;
        position: relative;
        left: 25px;
        top: 30px;
    }
    .row.services-holder.pad-bottom {
        padding: 5%;
    }
    a.nestlogoholder {
    width: 200px;
}

    .switch {
        left: 32%;
        position: relative;
    }
    .row.top-banner {
        height: 400px !important;
    }
    .row.about-us {
        padding: 0 10%;
    }
    .bullets ul {
        width: 80%;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    .row.top-banner h1 {
        font-size: 2em;
    }
    .row.top-banner h4 {
        font-size: 1em;
    }
    ul.subfeatures {
        height: 100%;
    }
    .row.choose-pic-holder p {
    padding: 0 10%;
}
div#slider-range-max {
    margin: 0 10%;
}
    .desk-menu {
        width: 80%;
        position: absolute;
        background: $title_grey;
        top: 90px;
        min-height: 700px;
    }
    .container.line-container .center-justified {
        width: 90% !important;
    }
    .desk-menu li {
        width: 100%;
        height: 70px;
        line-height: 70px !important;
    }
    .line {
        display: none !important;
    }

    .mobile-menu {
        display: block;
    }
        img.nest-logo {
        width: 120px;
        float: left;
        position: relative;
        left: 25px;
        top: 30px;
    }
    a.nestlogoholder {
    width: 200px;
}
    .row.services-holder.pad-bottom {
        padding: 5%;
    }
    .switch {
        left: 32%;
        position: relative;
    }
    .row.top-banner {
        height: 400px !important;
    }
    .row.about-us {
        padding: 0 10%;
    }
    .bullets ul {
        width: 80%;
    }
}

// For Nav responsiveness MDPIs and HiDPI
@media only screen and (max-width: 1280px) {
  a.nestlogoholder {
    width: 145px;
}

img.nest-logo {
    width: 100px;
    float: left;
    position: relative;
    left: 5px;

    top: 25px;
}
}

@media only screen and (max-width: 1440px) {
  a.nestlogoholder {
    width: 200px;
}

img.nest-logo {
    width: 150px;
    float: left;
    position: relative;
    left: 5px;

    top: 25px;
}
}