.bg-img {
	background-size: cover;
    background-position: center;
	&.g450 {
		background-image: url('http://demos.shixels.com/nest_av/img/g450/g450-59.jpg');
	}
	&.g200 {
		background-image: url('http://demos.shixels.com/nest_av/img/g200/g200-1.jpg');
	}
	&.helicopter {
		background-image: url('http://demos.shixels.com/nest_av/img/Single AW139 BRL.jpg');
	}
	&.transport {
		background-image: url('http://demos.shixels.com/nest_av/img/bg-transport.jpg');
		background-position: top !important;
	}
	&.hangarage {
		background-image: url('http://demos.shixels.com/nest_av/img/044A2921.jpg');
	}

	&.top {
		background-position: 0 35% !important;
	}
	&.bom300 {
		background-image: url('http://demos.shixels.com/nest_av/img/bom/bom-2.jpg');
	}
	&.des900dx {
		background-image: url('http://demos.shixels.com/nest_av/img/des/des-4.jpg');
	}
	&.phen300 {
		background-image: url('http://demos.shixels.com/nest_av/img/phen/phen-1.jpg');
	}
	&.sikorsky {
		background-image: url('http://demos.shixels.com/nest_av/img/sikorsky/sikorsky-3.jpg');
	}
}

 .top-banner {
        margin: 0 !important;
        width: 100%;
        position: relative;
        background-position: center;
	background-size: cover;
	&.g450 {
		background-image: url('http://demos.shixels.com/nest_av/img/g450/g450-59.jpg');
		height: 450px !important;
	}
	&.des900dx {
		background-image: url('http://demos.shixels.com/nest_av/img/des/des-4.jpg');
		height: 450px !important;
	}
	&.g200 {
		background-image: url('http://demos.shixels.com/nest_av/img/g200/g200-1.jpg');
		height: 450px !important;
	}
	&.bom300 {
		background-image: url('http://demos.shixels.com/nest_av/img/bom/bom-2.jpg');
		height: 450px !important;
	}
	&.phen300 {
		background-image: url('http://demos.shixels.com/nest_av/img/phen/phen-1.jpg');
		height: 450px !important;
	}
	&.helicopter {
		background-image: url('http://demos.shixels.com/nest_av/img/Single AW139 BRL.jpg');
		height: 450px !important;
	}
	&.transport {
		background-image: url('http://demos.shixels.com/nest_av/img/bg-transport.jpg');
		height: 450px !important;
		background-position: top !important;
	}
	&.hangarage {
		background-image: url('http://demos.shixels.com/nest_av/img/044A2921.jpg');
		height: 450px !important;
	}

	&.top {
		background-position: 0 35% !important;
	}
	&.sikorsky {
		background-image: url('http://demos.shixels.com/nest_av/img/sikorsky/sikorsky-3.jpg');
		height: 450px !important;
	}
}