.bg-img {
	background-size: cover;
    background-position: center;
	&.jet {
		background-image: url('http://demos.shixels.com/nest_av/img/N990EA Exterior 2.jpg');
	}
	&.helicopter {
		background-image: url('http://demos.shixels.com/nest_av/img/Single AW139 BRL.jpg');
	}
	&.transport {
		background-image: url('http://demos.shixels.com/nest_av/img/Helicopter pictures/044A3043.JPG');
	}
	&.hangarage {
		background-image: url('http://demos.shixels.com/nest_av/img/044A2921.jpg');
	}

	&.top {
		background-position: 0 35% !important;
	}
}